In [1]:
# import neccessary liraries
import pandas as pd

In [2]:
# loading data
books=pd.read_csv("books.csv")
books.head()

                                               Title  Unnamed: 1
0  Economic Development /                        ...         NaN
1  Trigonomerty                                  ...         NaN
2  Essential discrete mathematics for computer sc...         NaN
3  Pure mathematics  2                           ...         NaN
4  The Companion To Development Studies /        ...         NaN

In [3]:
# dropping unwanted column
df = books.drop(columns=['Unnamed: 1'])
df.head()

                                               Title
0  Economic Development /                        ...
1  Trigonomerty                                  ...
2  Essential discrete mathematics for computer sc...
3  Pure mathematics  2                           ...
4  The Companion To Development Studies /        ...

In [4]:
# Strip forward slash from all elements in the DataFrame
df1 = df.applymap(lambda x: str(x).replace('/', ''))
df1.head()

C:\Users\abdir\AppData\Local\Temp\ipykernel_8032\213652606.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df1 = df.applymap(lambda x: str(x).replace('/', ''))

                                               Title
0  Economic Development                          ...
1  Trigonomerty                                  ...
2  Essential discrete mathematics for computer sc...
3  Pure mathematics  2                           ...
4  The Companion To Development Studies          ...

In [5]:
# Display DataFrame to see full column content
print(df1.head())

# Optionally, reset to default if needed
pd.reset_option('display.max_colwidth')

                                               Title
0  Economic Development                          ...
1  Trigonomerty                                  ...
2  Essential discrete mathematics for computer sc...
3  Pure mathematics  2                           ...
4  The Companion To Development Studies          ...

In [6]:
# Totol books borrowed
print("Number of books borrowed", df1.shape[0])

Number of books borrowed 53

In [7]:
# Unique books borrowed
unique_titles = df1['Title'].nunique()
print('unique titles', unique_titles)

unique titles 42

In [8]:
# Most frequently borrowed book 
most_frequent_titles = df['Title'].mode()[0]
print("Most frequently borrowed book", most_frequent_titles)

Most frequently borrowed book Pure mathematics  2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1                                                    2                                                    3                                                    4                                                    5                                                                                Cancel rating.           Average rating: 0.0 (0 votes)

In [9]:
# description
description = df1['Title'].describe()
print(description)

count                                                    53
unique                                                   42
top       Pure mathematics  2                           ...
freq                                                      3
Name: Title, dtype: object